* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, Sans-serif;
  color: #fff;
  min-height: 100vh;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #224941 url("./images/bg.jpg") no-repeat center center/cover;
  position: relative;
  padding: 10vh 0;
}

h1 {
  text-align: center;
  font-weight: 500;
}

body::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));
  z-index: -3;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  margin: auto;
  position: relative;
  transform: scale(1);
}

.gradient-circle {
  background: conic-gradient(#55b7a4 0%, #4ca493 40%, #fff 40%, #fff 60%, #336d62 60%, #2a5b52 100%);
  height: 320px;
  width: 320px;
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: -2;
  border-radius: 50%;
}

.circle {
  background-color: #010f1c;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 50%;
}

.pointer-container {
  position: absolute;
  top: -40px;
  left: 140px;
  width: 20px;
  height: 190px;
  -webkit-animation: spin 7.5s infinite forwards linear;
          animation: spin 7.5s infinite forwards linear;
  transform-origin: bottom center;
}

.pointer {
  background: #fff;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: block;
}

.container.grow {
  -webkit-animation: grow 2900ms linear forwards;
          animation: grow 2900ms linear forwards;
}

.container.shrink {
  -webkit-animation: shrink 2850ms linear forwards;
          animation: shrink 2850ms linear forwards;
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
@-webkit-keyframes shrink {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
@keyframes shrink {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
@media (max-width: 700px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 250px;
    margin: auto;
    position: relative;
    transform: scale(1);
  }

  .gradient-circle {
    background: conic-gradient(#55b7a4 0%, #4ca493 40%, #fff 40%, #fff 60%, #336d62 60%, #2a5b52 100%);
    height: 270px;
    width: 270px;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -2;
    border-radius: 50%;
  }

  .pointer-container {
    position: absolute;
    top: -40px;
    left: 115px;
    width: 20px;
    height: 170px;
    -webkit-animation: spin 7.5s infinite forwards linear;
            animation: spin 7.5s infinite forwards linear;
    transform-origin: bottom center;
  }
}
@media only screen and (max-width: 420px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    width: 180px;
    margin: auto;
    position: relative;
    transform: scale(1);
  }

  .gradient-circle {
    background: conic-gradient(#55b7a4 0%, #4ca493 40%, #fff 40%, #fff 60%, #336d62 60%, #2a5b52 100%);
    height: 200px;
    width: 200px;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -2;
    border-radius: 50%;
  }

  .pointer-container {
    position: absolute;
    top: -40px;
    left: 80px;
    width: 20px;
    height: 130px;
    -webkit-animation: spin 7.5s infinite forwards linear;
            animation: spin 7.5s infinite forwards linear;
    transform-origin: bottom center;
  }
}